@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
}

main {
    width: 100%;
}

#duy-box, #bao-box, #long-box, #tuan-box {
    cursor: pointer;
}
#overlay-aboutus {
    background-color: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: none;
}

#more-info-bao,
#more-info-long,
#more-info-tuan,
#more-info-duy{
    position: fixed;
    bottom: 40%;
    left: 38%;
    background: whitesmoke;
    color: black;
    padding: 0 32px;
    box-shadow: 0 -2px 16px black;
    width: 450px;
    height: 300px;
    transition: 0.8s;
    z-index: 10;
    opacity: 1;
    display: none;
}

#more-info-bao h1,
#more-info-long h1,
#more-info-tuan h1,
#more-info-duy h1 {
    margin-top: 20px;
}

#more-info-bao p,
#more-info-long p,
#more-info-tuan p,
#more-info-duy p {
    text-align: justify;
    margin: 24px 0;
    line-height: 2;
}

#more-info-bao a,
#more-info-long a,
#more-info-tuan a,
#more-info-duy a {
    color: black;
}


@media only screen and (max-width: 1277px) {
    #more-info-bao,
#more-info-long,
#more-info-tuan,
#more-info-duy  {
        left: 29%;
    }
}

@media only screen and (max-width: 904px) {
    #more-info-bao,
#more-info-long,
#more-info-tuan,
#more-info-duy {
        left: 28%;
    }
}

@media only screen and (max-width: 769px) {
    #more-info-bao,
#more-info-long,
#more-info-tuan,
#more-info-duy {
        left: 20%;
    }
}

@media only screen and (max-width: 565px) {
    #more-info-bao,
    #more-info-long,
    #more-info-tuan,
    #more-info-duy{
        left: 8%;
    }
}

@media only screen and (max-width: 500px) {
    #more-info-bao,
#more-info-long,
#more-info-tuan,
#more-info-duy  {
        left: 14%;
        width: 350px;
        height: 220px;
    }

    #more-info-bao h1,
#more-info-long h1, 
#more-info-tuan h1,
#more-info-duy h1 {
        margin-top: 20px;
        font-size: 16px;
    }
    
    #more-info-bao p,
#more-info-long p,
#more-info-tuan p,
#more-info-duy p  {
        text-align: justify;
        margin: 12px 0;
        line-height: 2;
        font-size: 12px;
    }

    #more-info-bao a,
#more-info-long a,
#more-info-tuan a,
#more-info-duy a {
        font-size: 16px;
    }
}

@media only screen and (max-width: 499px) {
    #more-info-bao,
    #more-info-long,
    #more-info-tuan,
    #more-info-duy  {
        left: 4%;
        width: 350px;
        height: 220px;
    }

    #more-info-bao h1,
    #more-info-long h1, 
    #more-info-tuan h1,
    #more-info-duy h1 {
        margin-top: 20px;
        font-size: 16px;
    }
    
    #more-info-bao p,
    #more-info-long p,
    #more-info-tuan p,
    #more-info-duy p {
        text-align: justify;
        margin: 12px 0;
        line-height: 2;
        font-size: 12px;
    }

    #more-info-bao a,
    #more-info-long a,
    #more-info-tuan a,
    #more-info-duy a {
        font-size: 16px;
    }
}

